<html>

  <head>

    <title>SL | Início </title>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/favicon.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>

      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1 0 auto;
      }

      #map {
        height: 60%;
      }

      #data {
        height: 60%;
      }

    </style>


  </head>

  <body>

    <header>

      <div class="navbar-fixed">
        <nav class="indigo accent-4">
          <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><i class="material-icons" style="font-size:36px">lightbulb_outline</i><b>SancaLights</b></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><div class="divider"></div></li>
              <li><a href="#" id="gestor"><b>Gestor</b></a></li>
              <li><div class="divider"></div></li>
              <li><a href="#" id="cidadao"><b>Cidadão</b></a></li>
              <li><div class="divider"></div></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card indigo accent-4">
                <div class="card-content white-text">
                  <span class="card-title center"><b>SancaLights</b></span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="#" id="gestorMobile"><b>Gestor</b></a></li>
        <li><div class="divider"></div></li>
        <li><a href="#" id="cidadaoMobile"><b>Cidadão</b></a></li>
        <li><div class="divider"></div></li>
      </ul>
    </header>

    <main>

      <div class="container">

        <div class="startContent">
          <div class="row" id="startContent">
            <div class="col s12 l12">
              <div class="card white z-depth-0">
                <div class="card-content white-text">
                  <h1 class="center indigo-text text-accent-4">SancaLights</b></h1>
                  <div class="card-action indigo accent-4">
                    <h5 class="center white-text"><b>Monitore</b> a <b>iluminação pública</b> em <b>tempo real</b></h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12 l12">
              <div class="card white z-depth-0">
                <div class="card-content white-text">
                  <div class="center-align">
                    <a id="mainContentButton" class="waves-effect waves-light btn-large pulse indigo accent-4 ">
                      <i class="material-icons" style="font-size:36px">lightbulb_outline</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12 l12">

              <div class="row">

                  <div class="col s12 l4 offset-l1">


                        <div class="card z-depth-0">
                          <div class="card-image center indigo accent-4">
                            <i class="material-icons" style="color:white;font-size:100px">attach_money</i>
                          </div>
                          <div class="card-content center">
                            <h4 class="card-title indigo-text text-accent-4"><b>Economia</b></h4>
                          </div>
                          <div class="card-action indigo-text text-accent-4">
                            <span>Com sensores captando o consumo de energia elétrica de cada poste de iluminação pública em tempo real, a taxa CIP será calculada de maneira mais justa, gerando contas de energia elétrica mais baratas para toda a população.</span>
                          </div>
                        </div>


                  </div>

                  <div class="col s12 l4 offset-l2">

                    <div class="card z-depth-0">
                      <div class="card-image center indigo accent-4">
                        <i class="material-icons" style="color:white;font-size:100px">build</i>
                      </div>
                      <div class="card-content center">
                        <h4 class="card-title indigo-text text-accent-4"><b>Manutenção</b></h4>
                      </div>
                      <div class="card-action indigo-text text-accent-4">
                        <span>O monitoramento em tempo real agilizará todo o processo de manutenção dos postes de iluminação pública, uma vez que os gestores não só saberão em tempo real os postes com defeito mas também a sua localização exata.</span>
                      </div>
                    </div>

                  </div>

              </div>

            </div>

          </div>
        </div>


        <div class="row" id="mainContent" style="visibility:hidden">

          <div class="col s12 l4">
            <div class="card z-depth-0">
              <div class="card-content indigo-text text-accent-4" id="data">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col s12 l12">
                        <div class="card indigo accent-4 z-depth-2">
                          <div class="card-content white-text">
                            <span class="card-title center"><b>Dashboard</b></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row">
                      <div class="col s6 l12">
                        <div class="card white hoverable">
                          <div class="card-content">
                            <b>Energia (mês)</b><br><b>23 MWh</b>
                          </div>
                        </div>
                      </div>
                      <div class="col s6 l12">
                        <div class="card white hoverable">
                          <div class="card-content">
                            <b>Valor (mês)</b><br><b>R$ 73.42 milhões</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li id='gestorBotao' style="display:none">
                    <div class="row">
                      <a href="#">
                        <div class="col s6 l12">
                          <div class="card green hoverable">
                            <div class="card-content white-text center">
                              <b>Adicionar poste</b>
                            </div>
                          </div>
                        </div>
                      </a>
                      <a href="#">
                        <div class="col s6 l12">
                          <div class="card red hoverable">
                            <div class="card-content white-text center">
                              <b>Remover poste</b>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col s12 l8">
            <div class="card z-depth-0">
              <div class="card-content">

                <ul>
                  <li>

                    <div class="row">
                      <div class="col s12">
                        <div class="card indigo accent-4 z-depth-2">
                          <div class="card-content white-text">
                            <span class="card-title center"><b>Iluminação pública em tempo real</b></span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </li>
                  <li>
                    <div id="map"></div>
                    <script>
                      var map;
                      function initMap() {

                        map = new google.maps.Map(document.getElementById('map'), {
                          center: {lat: -23.5599, lng: -46.7322},
                          zoom: 19
                        });

                        setMarkers(map);
                      }

                      var lightPoles = [
                        ['Poste 1', -23.559948, -46.732083, 1],
                        ['Poste 2', -23.559896, -46.732390, 2],
                      ];

                      function setMarkers(map) {

                        var infowindow;

                        var image = {

                          url: 'https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/dummy.png'
                        };

                        var lightPole;

                        lightPole = lightPoles[0];
                        var marker_1 = new google.maps.Marker({
                          id: "ee5480f1-fe48-47ea-af13-b0ee2c5c9ac3",
                          position: {lat: lightPole[1], lng: lightPole[2]},
                          map: map,
                          icon: image,
                          title: lightPole[0],
                          zIndex: lightPole[3]
                        });

                        marker_1.addListener('click', function() {

                          $.ajax({
                            url: 'http://143.107.45.126:30134/catalog/resources/' + marker_1.id,
                            dataType: 'json',
                            async: false,
                            success: function(data) {

                              $.ajax({
                                url: 'http://143.107.45.126:30134/collector/resources/' + marker_1.id + '/data',
                                method: 'POST',
                                dataType: 'json',
                                data: '{"capabilities":["lightpole_monitoring"]}',
                                success: function(resources){

                                  var date = new Date();
                                  var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;

                                  var contentString = '<div class="card indigo accent-4">' +
                                  '<div class="card indigo accent-4"><div class="card-content white-text">' +
                                  '<span class="card-action"><ul>' +
                                  '<li><b>Poste: </b>' + data.data.id.toString() + '</li>' +
                                  '<li><b>Potência: </b>' + (127 * resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current / 1000).toString() + ' Watts</li>' +
                                  '<li><div class="divider"></div></li>' +
                                  '<li><b>Data: </b>' + date.getDate().toString() + '/' + (date.getMonth()+1).toString() + '/' +  date.getFullYear().toString() + '</li>' +
                                  '<li><b>Hora: </b>' + date.getHours().toString() + ':' + date.getMinutes().toString() + ':' +  date.getSeconds().toString() + '</li>' +
                                  '<li><div class="divider"></div></li>' +
                                  '<li><b>Cidade: </b>' + data.data.city + '</li>' +
                                  '<li><b>Bairro: </b>' + data.data.neighborhood + '</li>' +
                                  '<li><b>CEP: </b>' + data.data.postal_code + '</li>' +
                                  '</ul></span></div></div>'

                                  infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                  });

                                  infowindow.open(map, marker_1);

                                }
                              });
                            }
                          });
                        });

                        lightPole = lightPoles[1];
                        var marker_2 = new google.maps.Marker({
                          id: "ec3967d5-8483-4ce2-a880-3bec87835378",
                          position: {lat: lightPole[1], lng: lightPole[2]},
                          map: map,
                          icon: image,
                          title: lightPole[0],
                          zIndex: lightPole[3]
                        });
                        marker_2.addListener('click', function() {

                          $.ajax({
                            url: 'http://143.107.45.126:30134/catalog/resources/' + marker_2.id,
                            dataType: 'json',
                            async: false,
                            success: function(data) {

                              $.ajax({
                                url: 'http://143.107.45.126:30134/collector/resources/' + marker_2.id + '/data',
                                method: 'POST',
                                dataType: 'json',
                                data: '{"capabilities":["lightpole_monitoring"]}',
                                success: function(resources){

                                  var date = new Date();
                                  var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;

                                  var contentString = '<div class="card indigo accent-4">' +
                                  '<div class="card indigo accent-4"><div class="card-content white-text">' +
                                  '<span class="card-action"><ul>' +
                                  '<li><b>Poste: </b>' + data.data.id.toString() + '</li>' +
                                  '<li><b>Potência: </b>' + (127 * resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current / 1000).toString() + ' Watts</li>' +
                                  '<li><div class="divider"></div></li>' +
                                  '<li><b>Data: </b>' + date.getDate().toString() + '/' + (date.getMonth()+1).toString() + '/' +  date.getFullYear().toString() + '</li>' +
                                  '<li><b>Hora: </b>' + date.getHours().toString() + ':' + date.getMinutes().toString() + ':' +  date.getSeconds().toString() + '</li>' +
                                  '<li><div class="divider"></div></li>' +
                                  '<li><b>Cidade: </b>' + data.data.city + '</li>' +
                                  '<li><b>Bairro: </b>' + data.data.neighborhood + '</li>' +
                                  '<li><b>CEP: </b>' + data.data.postal_code + '</li>' +
                                  '</ul></span></div></div>'
                                  infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                  });

                                  infowindow.open(map, marker_2);

                                }
                              });
                            }
                          });
                        });

                        $.ajax({
                          url: 'http://143.107.45.126:30134/collector/resources/' + marker_1.id + '/data',
                          method: 'POST',
                          dataType: 'json',
                          data: '{"capabilities":["lightpole_monitoring"]}',
                          success: function(resources){

                            var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;
                            if(resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current == 0){

                              marker_1.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightPole_off.png');
                            }
                            else{

                              marker_1.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightbulb-on.png');
                            }
                          }
                        });

                        $.ajax({
                          url: 'http://143.107.45.126:30134/collector/resources/' + marker_2.id + '/data',
                          method: 'POST',
                          dataType: 'json',
                          data: '{"capabilities":["lightpole_monitoring"]}',
                          success: function(resources){

                            var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;
                            if(resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current == 0){

                              marker_2.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightPole_off.png');
                            }
                            else{

                              marker_2.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightbulb-on.png');
                            }
                          }
                        });



                        setInterval(function(){

                          $.ajax({
                            url: 'http://143.107.45.126:30134/collector/resources/' + marker_1.id + '/data',
                            method: 'POST',
                            dataType: 'json',
                            data: '{"capabilities":["lightpole_monitoring"]}',
                            success: function(resources){

                              var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;
                              if(resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current == 0){

                                marker_1.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightPole_off.png');
                              }
                              else{

                                marker_1.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightbulb-on.png');
                              }
                            }
                          });

                          $.ajax({
                            url: 'http://143.107.45.126:30134/collector/resources/' + marker_2.id + '/data',
                            method: 'POST',
                            dataType: 'json',
                            data: '{"capabilities":["lightpole_monitoring"]}',
                            success: function(resources){

                              var last = resources.resources["0"].capabilities.lightpole_monitoring.length - 1;
                              if(resources.resources["0"].capabilities.lightpole_monitoring[last.toString()].current == 0){

                                marker_2.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightPole_off.png');
                              }
                              else{

                                marker_2.setIcon('https://raw.githubusercontent.com/andreMarcosPerez/hackathonUSP_smartCity/master/website/static/image/lightbulb-on.png');
                              }
                            }
                          });

                        }, 1000);

                      }

                    </script>

                  </li>

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="page-footer indigo accent-2">

      <div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Saiba mais</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/events/1470285529726566/"><b>HackathonUSP | Smart Cities</b></a></li>
              <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/andreMarcosPerez/hackathonUSP_smartCity"><b>Repositório GitHub</a></b></li>
              <li><a class="grey-text text-lighten-3" target="_blank" href="http://interscity.org/"><b>Interscity</a></b></li>
						</ul>
					</div>
					<div class="col l6 s12">
						<h5 class="white-text">Licença de uso</h5>
						<p class="grey-text text-lighten-3"><b>Todo</b> o trabalho apresentado neste site foi desenvolvido pelos autores no <a  class="grey-text text-lighten-4" href="https://www.facebook.com/events/1470285529726566/" target="_blank"><b>HackathonUSP | Smart City</b></a> esta licenciado com uma licença
						<a class="grey-text text-lighten-3" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><b>CC BY-NC-SA 4.0 Internacional.</b></a>
						</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"> © 2017 | <b>André Perez</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/daniel-fernandes-da-nobrega-62b598105/" target="_blank"><b>Daniel Fernandes</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/guilherme-rocha-gon%C3%A7alves-69b070142/" target="_blank"><b>Guilherme Rocha</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/leonardoparente/" target="_blank"><b>Leonardo Parente</b></a>
				</div>
			</div>

    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX3MBSmiNiYefSfSrA1muXZOLii8JJWQQ&callback=initMap" async defer></script>
  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <script>

    $(document).ready(function(){

      $('.collapsible').collapsible({

        closeOnClick: false
      });

      $(".button-collapse").sideNav({

        menuWidth: 300,
        draggable: true,
        closeOnClick: false
      });

      //alert("Ao clicar em um poste, habilite os scripts em sua barra de navegação para correta integração com a platafroma do Interscity!")

      $('#mainContentButton').click(function(){

        $('#startContent').hide();
        $('#mainContent').css("visibility","visible");
      });

      $('#gestor').click(function(){

        $('#gestorBotao').show();
      });

      $('#cidadao').click(function(){

        $('#gestorBotao').hide();
      });

      $('#gestorMobile').click(function(){

        $('#gestorBotao').show();
      });

      $('#cidadaoMobile').click(function(){

        $('#gestorBotao').hide();
      });

    });

  </script>

</html>
