<html>

  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>

    <header>

      <div class="navbar-fixed">
        <nav class="indigo accent-4">
          <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><i class="material-icons" style="font-size:36px">lightbulb_outline</i><b>SancaLight</b></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><div class="divider"></div></li>
              <li><a href="#!"><b>Gestão</b></a></li>
              <li><div class="divider"></div></li>
              <li><a href="#!"><b>Documentos</b></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card indigo accent-4">
                <div class="card-content white-text">
                  <span class="card-title center"><b>SancaLight</b></span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="#!"><b>Gestão</b></a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!"><b>Documentos</b></a></li>
        <li><div class="divider"></div></li>
      </ul>
    </header>

    <main>

    </main>

    <footer class="page-footer indigo accent-2">

      <div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Saiba mais</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" target="_blank" href="http://www.saocarlos.usp.br/"><b>Universidade de São Paulo</a></b></li>
							<li><a class="grey-text text-lighten-3" target="_blank" href="http://www.eesc.usp.br/"><b>Escola de Engenharia de São Carlos</a></b></li>
              <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/events/1470285529726566/" target="_blank"><b>HackathonUSP | Smart Cities</b></a></li>
						</ul>
					</div>
					<div class="col l6 s12">
						<h5 class="white-text">Licença de uso</h5>
						<p class="grey-text text-lighten-3"><b>Todo</b> o trabalho apresentado neste site foi desenvolvido pelos autores no <a  class="grey-text text-lighten-4" href="https://www.facebook.com/events/1470285529726566/" target="_blank"><b>HackathonUSP | Smart City</b></a> esta licenciado com uma licença
						<a class="grey-text text-lighten-3" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><b>CC BY-NC-SA 4.0 Internacional.</b></a>
						</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/andremarcosperez/" target="_blank"> © 2017 | <b>André Perez</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/daniel-fernandes-da-nobrega-62b598105/" target="_blank"><b>Daniel Fernandes</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/guilherme-rocha-gon%C3%A7alves-69b070142/" target="_blank"><b>Guilherme Rocha</b></a> | <a  class="grey-text text-lighten-4" href="https://www.linkedin.com/in/leonardoparente/" target="_blank"><b>Leonardo Parente</b></a>
				</div>
			</div>

    </footer>

  </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../static/javascript/index.js"></script>

</html>
